@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #1F1F28;
    color: #D3B384;
    padding: 10px;
}

input {
    padding: 10px;
    border-radius: 6px;
    color: #1F1F28;
    outline: none;
}